body{
    margin: 0;
    padding: 0;
}
#searchDiv{
    width: 100%;
    height: 100px;
    margin-bottom: 120px;
    background-color :#5f5f5f;
}
table{
    width: 300px;
    border-collapse: collapse;
    margin: auto;
}
table,input[type=text]{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#searchButton{
   float: right;
   width: 40px;
   height: 30px;
   margin-top: 30px;
}
input[type=text] {
    width: 20%;
    height: 30px;
    margin-right: 80px;
    margin-top: 30px;
    box-sizing: border-box;
    float: right;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
}
input[type=text]:focus,#searchButton{
    background-color:rgba(240, 230, 230)
}
tr{
    border: 1px solid #ddd;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #f2f2f2 !important;
}
td,th{
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 30px;
    text-align: left;
}
.th{
    background-color: #4CAF50;
    color: white;
}
tbody td:hover{
    font-style: italic;
    font-weight: bold;
    border: 2px solid #5f5f5f;
}
